.dropoff-container{
   
    padding: 10px 10px;
    margin: 0 20px;
    line-height: 28px;
    width: 100%;
    font-size: 25px;
    line-height: 33px;
}


.dropoff-item-container{
    border: 2px solid;
    padding: 10px 10px;
    margin: 0 20px;
    background: black;
    color: white;
    line-height: 28px;
    width: 100%;
    font-size: 25px;
    line-height: 33px;
}