.voter-detail-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* margin: 20px 50px; */
    justify-content: center;
    padding: 20px 0;
    border-bottom: 2px solid;
    border-top: 2px solid;
    background: lightgray;
}

.voter-state-container{
    border: 2px solid;
    padding: 10px 10px;
    margin: 0 20px;
    background: black;
    color: white;
    line-height: 25px;
    width: 40%;
}

.voter-election-container{
    border: 2px solid;
    padding: 10px 10px;
    margin: 0 20px;
    background: black;
    color: white;
    line-height: 25px;
    width: 40%;
}

.candidate-container{
    /* border-top: 2px solid; */
    border-bottom: 2px solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    margin: 20px 10px;
}

.candidate-item-wrapper{
    border: 2px solid #007bff;
    margin: 10px 10px;
    width: 240px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    word-break: break-all;

}
.contest-details-container{
    display: flex;
    flex-direction: row;
    /* padding: 20px;
    align-items: center;
    justify-content: center; */
    width: 100%;
    margin: 0 auto;
}


/* .nonreferendum-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 60px;
    border: 2px solid;
    
} */