.main{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    margin: 0 auto;
   
    /* height: 545px; */
    flex-direction: column;
    width: 100%; 
    /* padding-bottom: 30px; */
} 

.main img{
    margin-bottom: 20px;
    object-fit: cover;
    height: 340px;
    /* top: -5px; */
    position: relative;
    bottom: 24px;
}

.main-form{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
   
} 

.main-form form{
    width: 60%;
}

.main-form input{
    text-align: center;
    background-color: lightgray;
}

.main-form input:hover{
    background-color: #007bff;
    color: white;
}

