.about{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    flex-direction: column;
    margin: 0 auto;
    padding: 30px;
}

.about-text{
    display: flex; 
    margin: 30px;
    padding: 0px 30px;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
}

.about-title{
    font-size: 30px;
    background: #007bff;
    width: 100%;
    color: white;
    
}